body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .treeWrapper {
  padding: 40px;
  width: 100vh;
  height: 100vw;
} */

#root {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.node__root > circle {
  fill: red;
  r: 30;
}

.node__branch > circle {
  fill: yellow;
  r: 30;
}

.node__leaf > circle {
  fill: green;
  /* Let's also make the radius of leaf nodes larger */
  r: 30;
}
